.about-container{
  .about-img{
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 36.45%;
    overflow: hidden;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  .about-title, .contact-us{
    color: #131A21;
    font-size: 36px;
    text-align: center;
    margin: 0 0 85px;
  }
  .about-bg{
    padding: 0;
    img{
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 5px 0 0 5px;
      object-fit: cover;
    }
  }
  .about-des{
    background-color: #E7E8EB;
    padding: 23px 9px 13px 28px;
    color: #232931;
    font-size: 16px;
    line-height: 26px;
    border-radius: 0 5px 5px 0;
  }
  .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    .submit-btn{
      width: 175px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border: 2px solid #CA151E;
      font-size: 18px;
      color: #CA151E;
      border-radius: 30px;
      margin-right: 100px;
      cursor: pointer;
    }
    .reset-btn{
      width: 175px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border: 2px solid #1E2832;
      font-size: 18px;
      color: #131A21;
      border-radius: 30px;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 768px) {
    .about-title, .contact-us{
      font-size: 30px;
      margin: 100px 0 65px;
    }
    .about-des{
      font-size: 14px;
    }
    .btns{
      margin-top: 50px;
      .submit-btn{
        width: 150px;
        height: 43px;
        line-height: 43px;
        font-size: 16px;
        margin-right: 60px;
      }
      .reset-btn{
        width: 150px;
        height: 43px;
        line-height: 43px;
        font-size: 16px;
      }
    }
  }
}