
.cultivate-box{margin-top: 20px;padding-bottom: 20px;border-bottom: 1px solid #ddd;}
.cultivate-box .cultivate-box-item{border: 1px solid #ddd;border-radius: 5px;}
.cultivate-box .cultivate-box-item img{width: 100%;}
.cultivate-box .cultivate-box-item .content-box{padding: 5px;}
.cultivate-box .cultivate-box-item .content-box .title{font-size: 14px;font-family: PingFang SC;font-weight: 400;color: #333;line-height: 20px;}
.cultivate-box .cultivate-box-item .content-box p.name{font-size: 12px;font-family: PingFang SC;font-weight: 400;color: #333;line-height: 16px;margin-bottom: 5px;}
.cultivate-box .cultivate-box-item .content-box p.time{font-size: 12px;font-family: PingFang SC;font-weight: 400;color: #333;line-height: 16px;margin-bottom: 5px;}
.cultivate-box .cultivate-box-item .content-box .icon{width: 50px;height: 20px;font-size: 12px;background-color: #E60012;border-radius: 5px;color: #fff;text-align: center;}

.pagination{margin-top: 10px;}
.pagination .page-item.active .page-link{background-color: #E60012;border-color: #E60012;}

/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
@media (min-width: 576px){
    .banner-box .banner-left-box{margin-bottom: 10px;}
}
/* 小屏幕（平板，大于等于 768px screen-sm-min ） */
@media (min-width: 768px) { 
    .banner-box .banner-left-box{margin-bottom: 0;}

}

/* 中等屏幕（桌面显示器，大于等于 992px screen-md-min ） */
@media (min-width: 992px) { 
    .banner-box .banner-left-box{margin-bottom: 0;}
    .banner-box .banner-right-box h6{font-size: 18px;margin-bottom: 4px;}
    .banner-box .banner-right-box .banner-right-list li.banner-right-item{margin-bottom: 5px;padding-bottom: 2px;}
    .banner-box .banner-right-box .banner-right-list li.banner-right-item a p{font-size: 14px;}
    .banner-box .banner-right-box .banner-right-list li.banner-right-item a span{font-size: 12px;}
    .information-box .information-hd-box li{font-size: 14px;}

}

/* 大屏幕（大桌面显示器，大于等于 1200px screen-lg-min ） */
@media (min-width: 1200px) { 
    .banner-box .banner-left-box{margin-bottom: 0;}
    .banner-box .banner-right-box h6{font-size: 18px;margin-bottom: 8px;}
    .banner-box .banner-right-box .banner-right-list li.banner-right-item{margin-bottom: 10px;padding-bottom: 7px;}
    .banner-box .banner-right-box .banner-right-list li.banner-right-item a p{font-size: 16px;}
    .banner-box .banner-right-box .banner-right-list li.banner-right-item a span{font-size: 14px;}
    .information-box .information-hd-box li{font-size: 14px;}

}














