{% load staticfiles zhifishcc_tag%}
<div class="common-footer">
    <div class="container">
      <div class="row common-footer-box">
        <ul class="col-6 col-lg-3">
          <li class="title"><a href="#">链眼服务</a></li>
          <li><a href="{% url 'chain_safe' %}">链安</a></li>
          <li><a href="{% url 'plannet_course' %}">专栏课程</a></li>
          <li><a href="{% url 'questions' %}">问答</a></li>
          <li><a href="{% url 'activity' %}">活动</a></li>
        </ul>
        <ul class="col-6 col-lg-3">
          <li class="title"><a href="#">合作伙伴</a></li>
          <li><a href="#">阿里云</a></li>
          <li><a href="#">Ethereum</a></li>
          <li><a href="#">Binance</a></li>
          <li><a href="#">Opensea</a></li>
          <li><a href="#">Uniswap</a></li>
        </ul>
        <ul class="col-6 col-lg-3">
          <li class="title"><a href="#" target="_blank">集团项目</a></li>
          <li><a href="http://gingernet.vip/" target="_blank">木姜子科技</a></li>
          <li><a href="http://www.wenwoha.com/" target="_blank">问我学院</a></li>
          <li><a href="http://www.zhifish.cn/" target="_blank">知鱼定制</a></li>
          <li><a href="http://shiji.gingernet.vip/" target="_blank">市集平台</a></li>
          <li><a href="#" target="_blank">coincore</a></li>
        </ul>
        <div class="col-6col-lg-3 d-flex align-items-center flex-column justify-content-center">
          <div style="width:100%;"><img width="125" height="125" src="{% static 'images/gzh.jpg' %}" alt=""></div>
          <p style="color:#aaa;">关注平台公众号</p>
        </div>
      </div>
    </div>
</div>