.tutorial-container {
  min-height: 100vh;
  padding-bottom: 1.3867rem;
  background-color: #F8F9FD;
}

.tutorial-container .tabs {
  height: 1.12rem;
  background-color: #ffffff;
  white-space: nowrap;
  overflow-y: scroll;
}

.tutorial-container .tabs .tab-item {
  display: inline-block;
  font-size: .4533rem;
  height: 100%;
  line-height: 1.12rem;
  padding: 0 .5333rem;
}

.tutorial-container .tabs .tab-item.active {
  color: #F02E2E;
  position: relative;
}

.tutorial-container .tabs .tab-item.active:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 1.36rem;
  height: .0533rem;
  background: #FF3B30;
  border-radius: 2px;
}

.tutorial-container .list {
  margin: .2267rem .32rem;
  background: #FFFFFF;
  border-radius: .2133rem;
}

.tutorial-container .list .list-item {
  padding: .32rem;
  border-bottom: 1px solid #eeeeee;
}

.tutorial-container .list .list-item .item-left {
  position: relative;
  width: 2.6667rem;
  height: 3.2rem;
  margin-right: .32rem;
}

.tutorial-container .list .list-item .item-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tutorial-container .list .list-item .item-left .status {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: .32rem;
  background-color: #CCCCCC;
  border-radius: .0533rem;
  padding: .0533rem .1067rem;
}

.tutorial-container .list .list-item .item-left .status.active {
  background-color: #E02020;
}

.tutorial-container .list .list-item .item-left .play {
  position: absolute;
  right: 0;
  bottom: 0;
  width: .48rem;
  height: .48rem;
}

.tutorial-container .list .list-item .item-right .user {
  font-size: .3467rem;
  margin-bottom: .2133rem;
}

.tutorial-container .list .list-item .item-right .user img {
  width: .32rem;
  height: .32rem;
  vertical-align: middle;
  margin: 0 .1067rem;
}

.tutorial-container .list .list-item .item-right .user .sub-user {
  color: #999999;
}

.tutorial-container .list .list-item .item-right .title {
  font-size: .4rem;
  font-weight: bold;
  line-height: .56rem;
  margin-bottom: .2133rem;
}

.tutorial-container .list .list-item .item-right .sub-title {
  font-size: .3467rem;
  color: #999999;
  margin-bottom: .1067rem;
}

.tutorial-container .list .list-item .item-right .tags {
  margin-bottom: .2133rem;
}

.tutorial-container .list .list-item .item-right .tags .tag-item {
  font-size: .2933rem;
  color: #FF6010;
  background-color: #FFECE3;
  border-radius: .0533rem;
  padding: .0533rem;
  margin-right: .32rem;
}

.tutorial-container .list .list-item .item-right .price {
  font-size: .48rem;
  color: #FF3B30;
  margin-right: .1067rem;
}

.tutorial-container .list .list-item .item-right .origin-price {
  font-size: .2933rem;
  color: #999999;
  text-decoration: line-through;
}

.tutorial-container .list .list-item .item-right .num {
  font-size: .3467rem;
  color: #999999;
}

.tutorial-container .list .list-item .item-right .detail {
  font-size: .3467rem;
  background-color: #F5F5F5;
  border-radius: .1067rem;
  padding: .2133rem;
  line-height: .4933rem;
  margin-top: .2133rem;
}

.tutorial-container .list .list-item .item-right .detail span {
  font-weight: bold;
}

.tutorial-detail-container {
  min-height: 100vh;
  padding-bottom: 1.9733rem;
  background-color: #F8F9FD;
}

.tutorial-detail-container .top-detail {
  padding: .32rem .32rem 0;
  background-color: #ffffff;
}

.tutorial-detail-container .top-detail img {
  width: 100%;
  height: 3.7333rem;
  border-radius: .1333rem;
  object-fit: cover;
  margin-bottom: .32rem;
}

.tutorial-detail-container .top-detail .title {
  font-size: .4rem;
  margin-bottom: .1067rem;
}

.tutorial-detail-container .top-detail .sub-title {
  font-size: .3467rem;
  margin-bottom: .2133rem;
}

.tutorial-detail-container .top-detail .num {
  font-size: .3467rem;
  color: #999999;
  margin-bottom: .2133rem;
}

.tutorial-detail-container .top-detail .price {
  font-size: .48rem;
  font-weight: bold;
  color: #FF3B30;
  margin-bottom: .32rem;
}

.tutorial-detail-container .top-detail .tabs {
  margin-bottom: .32rem;
}

.tutorial-detail-container .top-detail .tabs .tab-item {
  height: 1.12rem;
  font-size: .4533rem;
}

.tutorial-detail-container .top-detail .tabs .tab-item.active {
  color: #1677FF;
  position: relative;
}

.tutorial-detail-container .top-detail .tabs .tab-item.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 68px;
  height: .0533rem;
  background: #1677FF;
  border-radius: .0267rem;
}

.tutorial-detail-container .content-container {
  padding: 0 .32rem;
}

.tutorial-detail-container .box-container {
  background-color: #ffffff;
  border-radius: .2133rem;
  padding: 0 .32rem;
  margin-bottom: .32rem;
}

.tutorial-detail-container .box-container .common-title {
  height: 1.2rem;
  font-size: .4rem;
  font-weight: bold;
  border-bottom: 1px solid #EEEEEE;
}

.tutorial-detail-container .box-container .des {
  padding: .32rem 0;
  font-size: .3467rem;
  line-height: .4933rem;
}

.tutorial-detail-container .box-container .des div {
  margin-bottom: .32rem;
}

.tutorial-detail-container .list-container {
  background-color: #ffffff;
}

.tutorial-detail-container .list-container .order-title {
  height: 1.1733rem;
  padding-left: .32rem;
  border-bottom: 1px solid #EEEEEE;
}

.tutorial-detail-container .list-container .order-title .title {
  width: .8533rem;
  height: .5333rem;
  color: #1677FF;
  border-radius: .0533rem;
  border: .0133rem solid #1677FF;
  font-size: .32rem;
}

.tutorial-detail-container .list-container .list-item {
  padding: .3867rem .32rem .32rem;
  border-bottom: 1px solid #EEEEEE;
}

.tutorial-detail-container .list-container .list-item:last-child {
  border-bottom: none;
}

.tutorial-detail-container .list-container .list-item .user-avatar {
  width: 1.0667rem;
  height: 1.0667rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: .32rem;
}

.tutorial-detail-container .list-container .list-item .title {
  font-size: .4533rem;
  line-height: .64rem;
  margin-bottom: .1067rem;
}

.tutorial-detail-container .list-container .list-item .time {
  font-size: .4rem;
  color: #999999;
}

.tutorial-detail-container .fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.9733rem;
  background-color: #ffffff;
  padding: 0 .32rem;
  box-sizing: border-box;
  z-index: 100;
}

.tutorial-detail-container .fixed-bottom .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.52rem;
  height: 1.32rem;
  font-size: .48rem;
  background: #FFFFFF;
  border-radius: .1067rem;
  border: .0267rem solid #E5E5E5;
}

.tutorial-detail-container .fixed-bottom .btn.active {
  background-color: #F02E2E;
  border-color: #F02E2E;
  color: #ffffff;
}
