{% extends 'admin/layout/filter_panel.html' %}
{% load staticfiles zhifishcc_tag %}
{% block bixin_head_title %}
{% endblock %}
{% block panelHeader %}
<h3>注册用户列表</h3>
{% endblock %}
{% block filter %}
{% endblock %}
{% block content %}
<div class="dataTables_wrapper form-inline no-footer">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive" >
        <table class="table table-striped table-bordered dataTable no-footer" role="grid">
          <thead>
            <tr role="row">
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">用户名</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">注册手机号</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">登陆次数</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">注册时间</th>
            </tr>
          </thead>
          <tbody>
            {% for b_user in b_user_list %}
               <tr role="row">
                   <td>{{ b_user.user_name }}</td>
                   <td>{{ b_user.phone }}</td>
                   <td>{{ b_user.logintime }}</td>
                   <td>{{ b_user.created_at | hdatetime }}</td>
               </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pull-right">
      {% include 'admin/select/pagination.html' with items=b_user_list %}
    </div>
  </div>
</div>
{% endblock %}
