{% load staticfiles%}
<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border:0; text-align:center">
    <a href="#" class="site_title">
      <div class="sidebar-logo">链眼系统后台</div>
    </a>
  </div>
  <div class="clearfix"></div>
  <a class="profile clearfix" href="#">
    <div class="profile_pic">
      <img src="{% static 'admin/images/avatar.png' %}" class="img-circle profile_img" />
    </div>
    <div class="profile_info"><span>系统信息</span>
      <h2>版本号：v0.0.1</h2>
    </div>
  </a>
  <br />
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
         <li>
              <a>
                <i class="fa fa-user"></i>用户管理<span class="fa fa-chevron-right pull-right"></span>
              </a>
              <ul class="nav child_menu">
                 <li>
                    <a href="{% url 'back_user_list' %}">用户列表</a>
                 </li>
              </ul>
         </li>
         <li>
              <a>
                <i class="fa fa-file"></i>文章管理<span class="fa fa-chevron-right pull-right"></span>
              </a>
              <ul class="nav child_menu">
                 <li>
                    <a href="{% url 'back_index'%}">博客列表</a>
                 </li>
                  <li>
                    <a href="{% url 'back_chainsafe'%}">链安列表</a>
                 </li>
                 <li>
                    <a href="{% url 'back_question_list' %}">问答列表</a>
                 </li>
                 <li>
                    <a href="{% url 'back_activity_list' %}">活动列表</a>
                 </li>
              </ul>
         </li>
        <li>
             <a>
                <i class="fa fa-book"></i>教程管理<span class="fa fa-chevron-right pull-right"></span>
             </a>
             <ul class="nav child_menu">
                 <li>
                    <a href="{% url 'back_course_list' %}">教程列表</a>
                 </li>
             </ul>
        </li>
        <li>
             <a>
                <i class="fa fa-comment"></i>配置中心<span class="fa fa-chevron-right pull-right"></span>
             </a>
             <ul class="nav child_menu">
                 <li>
                    <a href="#">文章类别配置</a>
                 </li>
                 <li>
                    <a href="#">教程类别配置</a>
                 </li>
                 <li>
                    <a href="#">问答类别配置</a>
                 </li>
                  <li>
                    <a href="#">活动类别配置</a>
                 </li>
             </ul>
         </li>
         <li>
             <a>
                <i class="fa fa-user"></i>系统通知<span class="fa fa-chevron-right pull-right"></span>
             </a>
             <ul class="nav child_menu">
                 <li>
                    <a href="{% url 'back_message_list' %}">消息列表</a>
                 </li>
             </ul>
         </li>
      </ul>
    </div>
  </div>
</div>
