{% extends 'web/layout/main.html' %}
{% load staticfiles zhifishcc_tag%}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/courseArticle.css' %}">
  <link rel="stylesheet" href="{% static 'css/editormd.preview.css' %}">
  <link rel="stylesheet" href="{% static 'css/default.css' %}">
{% endblock %}
{% block body %}
  <div class="article-content">
    <div class="article-left">
      <div class="mulu-box">
       {% if not_buy_this_course %}
           {% if request.session.is_login %}
              <form method="post" action="{% url 'course_detail' course_detail.id %}">
                <button type="submit">立即购买 {{  course_arcticle.course.price | keep_two_decimal_places }}USDT</button>
              </form>
            {% else %}
                <a data-toggle="modal" data-target="#loginModal" role="button">登陆购买</a>
            {% endif %}
        {% endif %}
        <div class="mulu-list">
            {% for c_arcticle in course_arcticle_list %}
              <a class="mulu-item" href="{% url 'course_article_detail' c_arcticle.id %}">
            {% if c_arcticle == course_arcticle  %}
                <div class="mulu-left on">
            {% else %}
                <div class="mulu-left">
            {% endif %}
                  <div class="wai">
                    <div class="nei">{{ c_arcticle.part }}</div>
                  </div>
                  <div class="line"></div>
                </div>
                <div class="mulu-right">
                  <p class="title">{{ c_arcticle.title  }}</p>
                    {% if not_buy_this_course %}
                        {% if c_arcticle.is_free == "Yes" %}
                          <div class="row-2">
                            <span>试读</span>
                          </div>
                        {% else %}
                          <div class="row-2">
                            <span>未购买</span>
                          </div>
                        {% endif %}
                    {% else %}
                        <div class="row-2">
                            <span>已购买</span>
                        </div>
                    {% endif %}
                </div>
              </a>
            {% endfor %}
        </div>
      </div>
    </div>
    {% if not_buy_this_course and course_arcticle.is_free == "No"  %}
        <div class="article-right">
          <p>您还没够购买该课程，无法阅读该课程的内容</p>
        </div>
    {% else %}
        <div class="article-right">
          <p class="article-title">
              {{ course_arcticle.title }}
          </p>
          <div class="article-info post-description markdown-body">
              <p>{{ course_arcticle.detail | safe }}</p>
          </div>
          <div class="article-next-box">
            <h2>评论区</h2>
            {% if arcticle_comments %}
                {% for arcticle_cmt in arcticle_comments %}
                    <div class="content-discuss-add">
                        <div class="content-discuss-add-title">
                          <span class="add-title-name">{{ arcticle_cmt.user }}</span>
                          <span class="add-title-time">{{ arcticle_cmt.created_at | hdatetime }}</span>
                        </div>
                        <div class="discuss-add-text">
                            {{ arcticle_cmt.content | safe}}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>暂无评论</p>
           {% endif %}
          </div>
          <div class="article-next-box">
            <h2>评论</h2>
              <form class="form-box" method="post">
                <div class="el-textarea">
                  {% csrf_token %}
                  {{ comment_form.media }}
                  {{ comment_form.content }}
                  {% if comment_form.content.errors %}
                    <div style="color:red; margin-left:8px; margin-top:5px">
                       {{ comment_form.content.errors }}
                    </div>
                  {% endif %}
                </div>
                 <div class="content-comment-btn">
                    <button type="submit">发布</button>
                </div>
             </form>
          </div>
        </div>
    {% endif %}
  </div>
{% endblock %}